<!DOCTYPE html>
<html>
<head>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

	<title>Looseroots</title>

	<!-- Navbar -->
	<nav class="navbar navbar-dark bg-dark">		
		<a href="{{ url_for('index') }}" class="btn btn-primary"> Home </a>
		<a href="{{ url_for('user') }}" class="btn btn-primary"> Create User </a>
		<a href="{{ url_for('profile') }}" class="btn btn-primary"> Edit Profile </a>
	</nav>

</head>

{% block content %}
{% endblock %}

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</html>