{% extends "base.html" %}

<body>
{% block content %}

<div class="container-fluid">
	<div class="row row mt-5">
		<div class="col-sm-3"></div>
			<div class=col-lg">
				<h1>Profile Form</h1>

				<form action="" method="post" novalidate>
			        {{ profileform.hidden_tag() }}
			        <p>
			            {{ profileform.username.label }}<br>
			            {{ profileform.username(size=32) }}
			        </p>
			        <p>
			            {{ profileform.bio.label }}<br>
			            {{ profileform.bio(size=32) }}
			        </p>
			        <p>{{ profileform.submit() }}</p>
	    		</form>
			</div>
		<div class="col-sm-3"></div>
	</div>
</div>


{% endblock %}
</body>